*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
    font-family: "Product Sans",Arial,sans-serif;
}
body{
    background-color: rgb(32,33,36);
}
.ContentIconBox{
    position: absolute;
    display: flex;
    width: 7vw;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 2vh;
    font-size: .8vw;
    top: 14vh;
}
.ColorPicker{
    position: absolute;
    top: 1vh;
    width: 1vw;
    border: 2px solid red;
}